datasets==2.19.1
evaluate==0.4.2
huggingface_hub==0.23.0
joblib==1.4.2
matplotlib==3.8.2
optuna==3.6.1
pandas==2.2.2
Requests==2.32.3
scikit_learn==1.4.2
sentence_transformers==2.2.2
torch==2.1.2
tqdm==4.64.1
transformers==4.30.2
typing_extensions==4.12.1
